<!-- banner part start-->
<section class="banner_part">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="banner_slider owl-carousel">
          <div class="single_banner_slider">
            <div class="row">
              <div class="col-lg-5 col-md-8">
                <div class="banner_text">
                  <div class="banner_text_iner">
                    <h1>Fabricación y Mantenimiento</h1>
                    <p>
                      Fabricamos y damos mantenimiento a todo tipo de mueble.
                      Proporcionamos atención al cliente con diferentes tipos de
                      pago y envíos a todo el país.
                    </p>
                    <a routerLink="services" class="btn_2">Explorar</a>
                  </div>
                </div>
              </div>
              <div class="banner_img d-none d-lg-block">
                <img src="img/banner_img.png" alt="" />
              </div>
            </div>
          </div>
          <div class="single_banner_slider">
            <div class="row">
              <div class="col-lg-5 col-md-8">
                <div class="banner_text">
                  <div class="banner_text_iner">
                    <h1>Telas y Colores</h1>
                    <p>
                      Disponemos de las mejores telas del mercado nacionales e
                      importadas, con diversos colores y texturas.
                    </p>
                    <a routerLink="services" class="btn_2">Explorar</a>
                  </div>
                </div>
              </div>
              <div class="banner_img d-none d-lg-block">
                <img src="img/banner_img.png" alt="" />
              </div>
            </div>
          </div>
          <div class="single_banner_slider">
            <div class="row">
              <div class="col-lg-5 col-md-8">
                <div class="banner_text">
                  <div class="banner_text_iner">
                    <h1>Cotiza sin Compromiso</h1>
                    <p>
                      Construye tu proforma, arma tus muebles con los colores y
                      cantidad de piezas que desees. Comunícate con nosotros sin
                      compromiso.
                    </p>
                    <a routerLink="contact" class="btn_2">Contactar</a>
                  </div>
                </div>
              </div>
              <div class="banner_img d-none d-lg-block">
                <img src="img/banner_img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner part start-->

<!-- product_list start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Productos <span>Tienda</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="product_list_slider owl-carousel">
          <div class="single_product_list_slider">
            <div
              class="row align-items-center justify-content-between"
              id="products_items1"
            ></div>
          </div>
          <div class="single_product_list_slider">
            <div
              class="row align-items-center justify-content-between"
              id="products_items2"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product_list part start-->

<!-- awesome_shop start-->
<section class="our_offer section_padding" id="offert_time">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6 col-md-6">
        <div class="offer_img">
          <img src="../../../../../assets/images/offer_img.png" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="offer_text">
          <h2>Venta semanal con 5% de descuento en todos los productos</h2>
          <div class="date_countdown">
            <div id="timer">
              <div id="days" class="date"></div>
              <div id="hours" class="date"></div>
              <div id="minutes" class="date"></div>
              <div id="seconds" class="date"></div>
            </div>
          </div>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa tu correo"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <a href="#" class="input-group-text btn_2" id="basic-addon2"
                >Reservar Ahora</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- awesome_shop part start-->
