<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Nuestros Servicios</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!-- feature part here -->
<section class="feature_part" id="services">
  <div class="container">
    <div class="row justify-content-between padding_top">
      <div class="col-lg-6">
        <div class="feature_part_tittle">
          <h3>
            Fabricación de Muebles.
          </h3>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="feature_part_content">
          <p>
            Fabricamos todo tipos de muebles, contando con las mejores telas del
            mercado nacionales e importadas. Nuestros clientes pueden
            seleccionar cualquier modelo y adptarlo a sus necesitades, en
            tamaños , modelos y colores.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-between padding_top">
      <div class="col-lg-6">
        <div class="feature_part_tittle">
          <h3>
            Mantenimiento y Restauración.
          </h3>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="feature_part_content">
          <p>
            Ofrecemos mantenimiento y restauración, de todo tipo de mueble,
            limpieza, lavado, cambio de tela y pintura , dejamos sus muebles
            como el primer día.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="../../../../assets/images/icon/about_icon_1.svg" alt="#" />
          <h4>Crea tu Proforma</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="../../../../assets/images/icon/about_icon_2.svg" alt="#" />
          <h4>Compras Online</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="../../../../assets/images/icon/about_icon_3.svg" alt="#" />
          <h4>Envio Gratis*</h4>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="single_feature_part">
          <img src="../../../../assets/images/icon/about_icon_4.svg" alt="#" />
          <h4>Atencion al Cliente</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature part end -->
<!-- tela_list part start-->
<section class="tela_list best_tela section_padding" id="colors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section_tittle text-center">
          <h2>Nuestras Telas<span>Colores/Texturas</span></h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12">
        <div class="tela_slider">

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela1.jpg" alt="" />
            </div>

            <div class="single_tela_text">
              <h4>Deep Space</h4>
            </div>
          </div>
          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela2.jpg" alt="" />
            </div>

            <div class="single_tela_text">
              <h4>Medium Champague</h4>
            </div>
          </div>
          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela3.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Indian Yellow</h4>
            </div>
          </div>
          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela4.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Auburn Watch</h4>
            </div>
          </div>

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela5.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Rosewood Code</h4>
            </div>
          </div>

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela6.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Rosewood Code</h4>
            </div>
          </div>

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela7.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Rosewood Code</h4>
            </div>
          </div>

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela8.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Rosewood Code</h4>
            </div>
          </div>

          <div class="single_tela_item col-lg-3">
            <div class="tela_color">
              <img src="../../../../assets/images/telas/tela9.jpg" alt="" />
            </div>
            <div class="single_tela_text">
              <h4>Rosewood Code</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- tela_list part end-->
