<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Muebleria Vasquez</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!-- ================ contact section start ================= -->
<!-- feature part here -->
<section class="mx-5 feature_part padding_top">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12">
        <div class="feature_part_tittle">
          <h3>
            Calidad y los mejores precios del mercado.
          </h3>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="feature_part_content">
          <p>
            Confía en nosotros y vive la experiencia de amueblar tu hogar.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- product list part start-->
<section class="about_us padding_top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row justify-content-center about_us_content">
          <div class="col-lg-5 about_us mx-4">
            <h3 class="mt-3 mb-4">Nuestra Misión</h3>
            <p class="text-justify">
              Ser referente en la decoración de los hogares ecuatorianos
              brindando un gran catálogo de productos con altos niveles de
              calidad y variedad, cuidando los compromisos adquiridos con
              nuestros clientes, proveedores y colaboradores.
            </p>
          </div>
          <div class="col-lg-5 about_us mx-3">
            <h3 class="mt-4 mb-4">Nuestra Visión</h3>
            <p class="text-justify">
              Llegar a ser en los próximos años una de las mueblerías de mayor
              reconocimiento en la provincia, expandir el negocio para llegar a
              más personas gracias a la calidad y los productos innovadores, en
              el desarrollo de un verdadero marco de integridad en el servicio
              al cliente y poseer una gran participación en el mercado con
              estabilidad financiera.
            </p>
          </div>

          <div class="about_us_video">
            <img src="../../../../assets/images/about_us.jpg" alt="#" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product list part end-->

<!-- desarrolladores -->

<div class="my-5 mx-5"><h2>Desarrolladores:</h2></div>
<section class="row justify-content-between" id="authors-section">
  <div class="mb-sm-4 profile-author-card">
    <div class="img">
      <img src="../../../../assets/images/desarrolladores/dennys.jpg" />
    </div>

    <div class="mid-section">
      <div class="name">Dennys Lopez Damian</div>
      <div class="description">Ingeniería en Computación<br /></div>
    </div>
    <div class="links">
      <a class="fb" target="_blank" href="https://www.facebook.com/lopdam.ec"
        ><i class="fab fa-facebook-f" aria-hidden="true"></i></a
      ><a class="twitter" href="mailto:denelope@espol.edu.ec"
        ><i class="far fa-envelope" aria-hidden="true"></i></a
      ><a class="follow" target="_blank" href="https://github.com/lopdam"
        ><i class="fab fa-github" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div class="mb-sm-4 profile-author-card">
    <div class="img">
      <img src="../../../../assets/images/desarrolladores/william.jpg" />
    </div>

    <div class="mid-section">
      <div class="name">William Medina Masa</div>
      <div class="description">Ingeniería en Computación<br /></div>
    </div>
    <div class="links">
      <a class="fb" target="_blank" href="https://www.facebook.com/medinamasa"
        ><i class="fab fa-facebook-f" aria-hidden="true"></i></a
      ><a class="twitter" href="mailto:wsmedina@espol.edu.ec"
        ><i class="far fa-envelope" aria-hidden="true"></i></a
      ><a class="follow" target="_blank" href="https://gitlab.com/willymedi2"
        ><i class="fab fa-gitlab" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div class="mb-sm-4 profile-author-card">
    <div class="img">
      <img src="../../../../assets/images/desarrolladores/carlos.jpeg" />
    </div>

    <div class="mid-section">
      <div class="name">Carlos Salazar Moreira</div>
      <div class="description">Ingeniería en Computación<br /></div>
    </div>
    <div class="links">
      <a
        class="fb"
        target="_blank"
        href="https://www.facebook.com/carlos.salazar.3538"
        ><i class="fab fa-facebook-f" aria-hidden="true"></i></a
      ><a class="twitter" href="mailto:carfesal@espol.edu.ec"
        ><i class="far fa-envelope" aria-hidden="true"></i></a
      ><a class="follow" target="_blank" href="https://gitlab.com/carfesal"
        ><i class="fab fa-gitlab" aria-hidden="true"></i
      ></a>
    </div>
  </div>
  <div class="mb-sm-4 profile-author-card">
    <div class="img">
      <img src="../../../../assets/images/desarrolladores/melanie.jpeg" />
    </div>

    <div class="mid-section">
      <div class="name">Melanie Banchón Chávez</div>
      <div class="description">Ingeniería en Computación<br /></div>
    </div>
    <div class="links">
      <a class="fb" target="_blank" href="https://www.facebook.com/melaniie.b"
        ><i class="fab fa-facebook-f" aria-hidden="true"></i></a
      ><a class="twitter" href="mailto:meldaban@espol.edu.ec"
        ><i class="far fa-envelope" aria-hidden="true"></i></a
      ><a class="follow" target="_blank" href="https://gitlab.com/meldaban"
        ><i class="fab fa-gitlab" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</section>
<!-- feature part end -->
